<head>
<h2>Results for '<%= @search_string %>'</h2>
</head>

<main>
	<% @returned_results.each do |result| %>
		<a href="/database/<%= result['Title'] %>"> 
		<div style="background-image: url(<%= result['Poster'] %>);">
			<h3><%= result['Title'] %></h3>
			<br>
			<br>
			<h3><%= result['Year'] %></h3>
		</div></a>
	<% end %>	
</main>
